.footer{
    width: 100%;
    background-color: var(--foreback);
    color: --var(tcolor);
    position: fixed;
    bottom: 0;
    padding-bottom: 12px;
}

.footer > p {
    margin: 0 20px
}

.marquee-footer{
    font-size: 18px;
    text-align: right;
    width: 120%;
    padding: 20px 0;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}